@charset "utf-8";


/* reset css */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* { box-sizing: border-box; }
a { text-decoration: none; color: inherit}


/*  */
body {
  background-color: #111;
}
#main-img-wrapper{
  padding-top: 139px;
  text-align: center;
}

#intro-main {
  width: 300px;
  margin: 54px auto 140px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 500;
  gap: 20px;
}

#intro-main p {
  text-align: center;
}

#join-us-text {
  margin-top: 74px;
  opacity: .6;
  font-size: 16px;
  font-weight: 400px;
}

@keyframes upAndDown{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0);
  }
}
#down-arrow-icon{
  width: 33px;
  animation: upAndDown 1s infinite;
}
#list-item-wrapper{
  width: 388px;
  margin: 0 auto 200px;
}
.list-item{
  display: inline;
  font-size: 48px;
  font-weight: 600;
}
.list-item#on {
  color: #fff;
}
.list-item#on:before {
  background-image: url('./icons/light_house.png');
}
.list-item:before{
  content:'';
  display: inline-block;
  width: 51px;
  height: 53px;
  background-size: 51px 53px;
  background-image: url('./icons/dark_house.png');
}
#panel1-img{
  position: relative;
  height: 480px;
  margin-bottom: 500px;
  overflow: hidden;
}
#flying-santa-image{
  position: absolute;
  top: 40px;
  height: 380px;
  right: -40px;
  transform: translate(80px, -13px) rotate(23deg);
}

#video-section{
  margin-bottom: 1000px;
}

#video{
  display: block;
  margin: 0 auto;
  height: 350px;
}

#fixed-description{
  width: 622px;
  margin: 0 auto;
  color: #fff;
  text-align: right;
  line-height: 50px;
  font-size: 35px;
  font-weight: 600;
  margin-top: 30px;
  opacity: 0;
  transform: translateY(150px);
}